<form #myForm="ngForm" [hidden]="!token || tokenInvalid === true || isAbiturientLoading || isRegionLoading">
  <div class="container-fluid">
    <label for="postcode">Почтовый индекс</label><label style="color: red">&nbsp;*</label>
    <input type="text" class="form-control" id="postcode" placeholder="Индекс" [(ngModel)]="address.postCode" name="postcode" required maxlength="50"><br>
    <label>Населённый пункт</label><label style="color: red">&nbsp;*</label>
    <ngx-select [items]="cities" optionValueField="id" optionTextField="name" [(ngModel)]="address.cityId.id"
                name="cityId" (typed)="onInputChange($event)" [allowClear]="true" #citySelect required>
    </ngx-select>
    <small id="emailHelp" class="form-text text-muted"> Введите населённый пункт в поле выше и выберите его</small><br>
    <button class="btn btn-primary" (click)="showAddCity()" style="margin-bottom: 10px" #showCityAddButton>Добавить населённый пункт</button><br>
      <div class="container-fluid" #addCityLabel>
        <div class="row">
          <div class="col-sm">
            <label for="region">Область</label>
            <select class="form-control" id="region" #region (change)="getDistrict()">
              <option *ngFor="let data of regions">{{data.name}}</option>
            </select>
          </div>
          <div class="col-sm">
            <label for="district">Район</label>
            <select class="form-control" id="district" name="district" #districtCity>
              <option *ngFor="let data of district" [ngValue]="data.id">{{data.name}}</option>
            </select>
          </div>
          <div class="col-sm">
            <label for="type">Тип населённого пункта</label>
            <select class="form-control" id="type" #typeCity>
                <option *ngFor="let data of cityTypes">{{data}}</option>
            </select>
          </div>
          <div class="col-sm">
            <label for="cityName">Название населённого пункта</label>
            <input id="cityName" class="form-control" #nameCity/>
          </div>
        </div>
        <button class="btn btn-warning" (click)="saveNewCity(newCity)" style="margin-top: 30px">Сохранить город</button>
        <strong id="cityHelp" class="form-text text-danger"> Пожалуйста, убедитесь, что вы ввели все данные верно! </strong>
      </div>
    <br>
    <label for="street">Улица/Проспект</label><label style="color: red">&nbsp;*</label>
    <input type="text" class="form-control" id="street" placeholder="Улица/Проспект" [(ngModel)]="address.street" name="street" required><br>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <label for="home">Дом</label><label style="color: red">&nbsp;*</label>
        <input type="text" class="form-control" id="home" placeholder="Дом" [(ngModel)]="address.home" name="home" required>
      </div>
      <div class="col-sm">
        <label for="building">Корпус</label>
        <input type="text" class="form-control" id="building" placeholder="Корпус" [(ngModel)]="address.building" name="building">
      </div>
      <div class="col-sm">
        <label for="appartment">Квартира</label>
        <input type="text" class="form-control" id="appartment" placeholder="Квартира" [(ngModel)]="address.appartment" name="appartment"><br>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <label for="phone">Телефон</label><label style="color: red">&nbsp;*</label>
    <input type="text" class="form-control" id="phone" placeholder="Телефон" [(ngModel)]="address.phone" name="phone" required>
  </div> <br>

  <div class="container-fluid">
    <input type="button" [routerLink]="['/personal']" class="btn btn-danger btn-lg" value="Назад" />
    <input type="button" (click)="submit(address)" [disabled]="myForm.invalid" [routerLink]="['/study']" class="btn btn-success btn-lg" value="Далее"
           tooltip="Пожалуйста, перед отправкой формы тщательно проверьте все введённые Вами данные." />
  </div>

</form>

<div class="alert alert-danger" role="alert" [hidden]="token">
  <strong>Запрещено! Недостаточно прав доступа! </strong>Пожалуйста <a href="/auth" class="alert-link">авторизируйтесь</a> или
  <a href="/reg" class="alert-link">загеристрируйтесь</a> сперва! Потом попробуйте ещё раз.
</div>

<div class="alert alert-danger" role="alert" *ngIf="tokenInvalid === true">
  <strong>Ваш токен истёк! </strong>Пожалуйста <a href="/auth" class="alert-link">авторизируйтесь</a> сперва! Потом попробуйте ещё раз.
</div>
