<form #myForm="ngForm">
  <div class="container-fluid">
    <label for="postcode">Индекс</label>
    <input type="text" class="form-control" id="postcode" placeholder="Индекс" [(ngModel)]="address.postCode" name="postcode" required><br>
    <label for="cityId">Город</label>
    <select class="form-control" id="cityId" [(ngModel)]="address.cityId.id" [ngModelOptions]="{standalone: true}" name="cityId" ngDefaultControl>
      <option [ngValue]="null" disabled>Choose your document type</option>
      <option *ngFor="let data of city; let i = index" [ngValue]="data.id">{{data.name}}</option>
    </select><br>
    <label for="street">Улица</label>
    <input type="text" class="form-control" id="street" placeholder="Улица" [(ngModel)]="address.street" name="street" required><br>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <label for="home">Дом</label>
        <input type="text" class="form-control" id="home" placeholder="Дом" [(ngModel)]="address.home" name="home" required>
      </div>
      <div class="col-sm">
        <label for="building">Корпус</label>
        <input type="text" class="form-control" id="building" placeholder="Корпус" [(ngModel)]="address.building" name="building" required>
      </div>
      <div class="col-sm">
        <label for="appartment">Квартира</label>
        <input type="text" class="form-control" id="appartment" placeholder="Квартира" [(ngModel)]="address.appartment" name="appartment" required><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <label for="phone">Телефон</label>
    <input type="text" class="form-control" id="phone" placeholder="Телефон" [(ngModel)]="address.phone" name="phone" required pattern="\+[0-9]{12}">
  </div> <br>

  <div class="container-fluid">
    <input type="button" [routerLink]="['/personal']" class="btn btn-danger" value="Назад" />
    <input type="button" (click)="submit(address)" [disabled]="myForm.invalid" [routerLink]="['/study']" class="btn btn-success" value="Далее" />
  </div>

</form>
