<form>

  <div class="container-fluid">
    <div class="row">
      <label>Отец:</label>
      <div class="col-sm">
        <label for="initialsfath">Фамилия, имя, отчество</label>
        <input type="text" class="form-control" id="initialsfath" placeholder="Фамилия, имя, отчество отца">
      </div>
      <div class="col-sm">
        <label for="phonefath">Телефон</label>
        <input type="text" class="form-control" id="phonefath" placeholder="Телефон отца">
      </div>
      <div class="col-sm">
        <label for="jobfath">Место работы, должность</label>
        <input type="text" class="form-control" id="jobfath" placeholder="Место работы, должность отца"><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <label>Мать:</label>
      <div class="col-sm">
        <label for="initialsmam">Фамилия, имя, отчество</label>
        <input type="text" class="form-control" id="initialsmam" placeholder="Фамилия, имя, отчество матери">
      </div>
      <div class="col-sm">
        <label for="phonemam">Телефон</label>
        <input type="text" class="form-control" id="phonemam" placeholder="Телефон матери">
      </div>
      <div class="col-sm">
        <label for="jobmam">Место работы, должность</label>
        <input type="text" class="form-control" id="jobmam" placeholder="Место работы, должность матери"><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
    <label>Кроме меня на содержании родителей находятся</label>
    <div class="col">
    <input type="number" class="form-control" id="count" placeholder=""></div>
    <label>детей в возрасте до 18 лет</label>
    </div>
  </div> <br>

  <div class="container-fluid"><button type="submit" class="btn btn-primary">Submit</button></div>

</form>
