<form>

  <div class="container-fluid">
    <div class="row">
      <label> &nbsp; Отец:</label>
      <div class="col-sm">
        <label for="initialsfath">Фамилия, имя, отчество</label>
        <input type="text" class="form-control" id="initialsfath" placeholder="Фамилия, имя, отчество отца">
      </div>
      <div class="col-sm">
        <label for="phonefath">Телефон</label>
        <input type="text" class="form-control" id="phonefath" placeholder="Телефон отца">
      </div>
      <div class="col-sm">
        <label for="jobfath">Место работы, должность</label>
        <input type="text" class="form-control" id="jobfath" placeholder="Место работы, должность отца"><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <label> &nbsp; Мать:</label>
      <div class="col-sm">
        <label for="initialsmam">Фамилия, имя, отчество</label>
        <input type="text" class="form-control" id="initialsmam" placeholder="Фамилия, имя, отчество матери">
      </div>
      <div class="col-sm">
        <label for="phonemam">Телефон</label>
        <input type="text" class="form-control" id="phonemam" placeholder="Телефон матери">
      </div>
      <div class="col-sm">
        <label for="jobmam">Место работы, должность</label>
        <input type="text" class="form-control" id="jobmam" placeholder="Место работы, должность матери"><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
    <label> &nbsp; Кроме меня на содержании родителей находятся &nbsp;</label>
    <div class="col-xs-2">
    <input type="number" class="form-control" id="count" placeholder=""></div>
    <label>&nbsp;детей в возрасте до 18 лет</label>
    </div>
  </div> <br>

  <div class="container-fluid">
  <label>Сведения о стаже: </label>
  </div>

  <div class="container-fluid">
    <label for="jobplace">Место работы, должность</label>
    <input type="text" class="form-control" id="jobplace" placeholder="Место работы, должность"><br>
  </div>

  <div class="container-fluid">
    <div class="row">
      <label for="experience"> &nbsp; Общий рабочий стаж, лет &nbsp;</label>
      <div class="col-xs-2">
      <input type="text" class="form-control" id="experience" placeholder="Общий рабочий стаж"><br>
      </div>
      <div class="col-sm">
        &nbsp;&nbsp;&nbsp;<input class="form-check-input" type="checkbox" id="nowstudy" value="option2">
        <label class="form-check-label" for="nowstudy">Учусь в вузе, перепоступаю</label>
      </div>
    </div>
  </div>

  <div class="container-fluid"><button type="submit" class="btn btn-primary">Submit</button></div>

</form>
