:host >>> .tooltip-inner {
  background-color: #FF8C00;
  color: #fff;
}
:host >>> .tooltip.top .tooltip-arrow:before,
:host >>> .tooltip.top .tooltip-arrow {
  border-top-color: #FF8C00;
}

.pass {
  background-color: #28a745;
}

.not-pass {
  background-color: #dc3545;
}

.priority-pass {
  background-color: #007bff;
}

.sum {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  display: block;
}
