<form>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <label for="year">Год окончания</label>
        <input type="number" class="form-control" id="year" placeholder="Год окончания">
      </div>
      <div class="col-sm">
        <label for="level">Уровень</label>
        <input type="text" class="form-control" id="level" placeholder="Уровень"><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <label for="uoname">Название УО</label>
    <input type="text" class="form-control" id="uoname" placeholder="Название УО"><br>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <label for="type">Тип УО</label>
        <select class="form-control" id="type">
          <option>ПТУ</option>
          <option>Универ</option>
        </select>
      </div>
      <div class="col-sm">
        <label for="village">Населённый пункт</label>
        <input type="text" class="form-control" id="village" placeholder="Населённый пункт"><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <label for="language">Изучаемый иностранный язык</label>
    <select class="form-control" id="language">
      <option>Английский</option>
      <option>Туркменский</option>
    </select>
  </div><br>

  <div class="container-fluid"><button type="submit" class="btn btn-primary">Submit</button></div>

</form>

