<form #myForm="ngForm">

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <label for="endYear">Год окончания</label>
        <input type="number" class="form-control" id="endYear" placeholder="Год окончания" [(ngModel)]="education.endYear" name="endYear" required>
      </div>
      <div class="col-sm">
        <label for="educationLevel">Уровень</label>
        <select class="form-control" id="educationLevel" [(ngModel)]="education.educationLevelId.id" name="educationLevel" ngDefaultControl>
          <option [ngValue]="null" disabled>Choose your level</option>
          <option *ngFor="let data of educationLevel; let i = index" [ngValue]="data.id">{{data.name}}</option>
        </select><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <label for="uoName">Название УО</label>
    <input type="text" class="form-control" id="uoName" placeholder="Название УО" [(ngModel)]="education.uoName" name="uoName" required><br>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <label for="educationType">Тип УО</label>
        <select class="form-control" id="educationType" [(ngModel)]="education.educationTypeId.id" name="educationType" ngDefaultControl>
          <option [ngValue]="null" disabled>Choose your uo type</option>
          <option *ngFor="let data of educationType; let i = index" [ngValue]="data.id">{{data.name}}</option>
        </select><br>
      </div>
      <div class="col-sm">
        <label for="establishmentCity">Населённый пункт</label>
        <select class="form-control" id="establishmentCity" [(ngModel)]="education.establishmentCityId.id" name="establishmentCity" ngDefaultControl>
          <option [ngValue]="null" disabled>Choose your uo type</option>
          <option *ngFor="let data of establishmentCity; let i = index" [ngValue]="data.id">{{data.name}}</option>
        </select><br>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <label for="language">Изучаемый иностранный язык</label>
    <select class="form-control" id="language" [(ngModel)]="education.languageId.id" name="language" ngDefaultControl>
      <option [ngValue]="null" disabled>Choose your uo type</option>
      <option *ngFor="let data of language; let i = index" [ngValue]="data.id">{{data.name}}</option>
    </select><br>
  </div><br>

  <div class="container">
    <div class="row">
      <div class="col-sm">
    <input class="form-check-input" type="checkbox" id="goldMedalist" value="option1" [checked]="education.goldMedalist" (change)="education.goldMedalist = !education.goldMedalist">
    <label class="form-check-label" for="goldMedalist">Медаль</label>
      </div>
      <div class="col-sm">
        <input class="form-check-input" type="checkbox" id="honours" value="option2" [checked]="education.honours" (change)="education.honours = !education.honours">
        <label class="form-check-label" for="honours">Диплом с отличием</label>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <input type="button" [routerLink]="['/address']" class="btn btn-danger" value="Назад" />
    <input type="button" (click)="submit(education)" [disabled]="myForm.invalid" [routerLink]="['/additional']" class="btn btn-success" value="Отправить" />
  </div>

</form>

