<table class="table table-striped" [hidden]="!token">
  <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Тип документа</th>
      <th>Предмет</th>
      <th>Шкала оценок</th>
      <th>Серия</th>
      <th>Номер</th>
      <th>Учреждение образования</th>
      <th>Оценки</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificates of competitionInfo.documents">
      <td><button class="btn btn-danger" (click)="removeDocument($event)">Удалить</button></td>
      <td *ngFor="let data of edDocTypes | myfilter:certificates.educationDocumentTypeId">{{data.name}}</td>
      <div *ngIf="certificates.subjectId; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <td *ngFor="let data of subjects | myfilter:certificates.subjectId">{{data.name}}</td>
      </ng-template>
      <ng-template #elseBlock>
        <td></td>
      </ng-template>
      <div *ngIf="certificates.scale; then thenBlockScale else elseBlockScale"></div>
      <ng-template #thenBlockScale>
        <td *ngFor="let data of scales | myfilter:certificates.scale">{{data.name}}</td>
      </ng-template>
      <ng-template #elseBlockScale>
        <td></td>
      </ng-template>
      <td>{{certificates.seria}}</td>
      <td>{{certificates.number}}</td>
      <td>{{certificates.nameUO}}</td>
      <td>{{certificates.marks}}</td>
    </tr>
  </tbody>
</table>
<div class="container-fluid" [hidden]="!token">
  <button type="button" class="btn btn-success" (click)="openModalWithComponent()">Добавить документ</button>
</div>
<br [hidden]="!token"><br [hidden]="!token">
<div class="container-fluid" [hidden]="!token">
  <input type="button" (click)="submit(competitionInfo)" [routerLink]="['/']" class="btn btn-success btn-lg" value="Далее" />
</div>
<div class="alert alert-danger" role="alert" [hidden]="token">
  <strong>Forbidden! Insufficient access rights! </strong>Please <a href="/auth" class="alert-link">authorize</a> or
  <a href="/reg" class="alert-link">register</a> first! Then try come in again.
</div>
