<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Тип документа</th>
    <th>Предмет</th>
    <th>Серия</th>
    <th>Номер</th>
    <th>Учреждение образования</th>
    <th>Оценки</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let certificates of competitionInfo.documents">
    <td *ngFor="let data of edDocTypes | myfilter:certificates.educationDocumentTypeId">{{data.name}}</td>
    <td *ngFor="let data of subjects | myfilter:certificates.subjectId">{{data.name}}</td>
    <td>{{certificates.seria}}</td>
    <td>{{certificates.number}}</td>
    <td>{{certificates.nameUO}}</td>
    <td>i've</td>
  </tr>
  </tbody>
</table>
<div class="container-fluid">
  <button type="button" class="btn btn-success" (click)="openModalWithComponent()">Добавить документ</button>
</div>
<br><br>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Название</th>
    <th>Код</th>
    <th>Без экзаменов</th>
    <th>Без конкурса</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>hello</td>
    <td>it's</td>
    <td>me</td>
    <td>i've</td>
  </tr>
  </tbody>
</table>
<div class="row" style="margin-bottom: 2%; margin-left: 2%">
  <button class="btn btn-primary" (click)="PrivillegeModal.show()">Добавить</button>
</div>

<app-modal #PrivillegeModal>
  <div class="app-modal-header">
    <h3>Новый документ</h3>
  </div>
  <div class="app-modal-body">
    <form>
      <label>Льгота</label>
      <select class="form-control">
        <option *ngFor="let data of privilleges" [ngValue]="data.id">{{data.name}}</option>
      </select>
    </form>
    <button class="btn btn-danger special-button" style="margin-top: 2%" (click)="PrivillegeModal.hide()">Cancel</button>
  </div>
</app-modal>

<button type="button" class="btn btn-primary btn-lg">Отправить</button>
