<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="_bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #addForm="ngForm" name="AddForm">
    <label>Тип документа</label>
    <select class="form-control" [(ngModel)]="certificate.educationDocumentTypeId" name="educationDocumentTypeId" #educationDocumentTypeId>
      <option *ngFor="let data of edDocTypes" [ngValue]="data.id">{{data.name}}</option>
    </select>
    <label>Предмет</label>
    <select class="form-control" [(ngModel)]="certificate.subjectId" name="subjectId" #subjectId>
      <option *ngFor="let data of subjects" [ngValue]="data.id">{{data.name}}</option>
    </select>
    <label>Серия документа</label>
    <input [(ngModel)]="certificate.seria" name="seria" class="form-control" #seria/>
    <label>Номер документа</label>
    <input [(ngModel)]="certificate.number" name="number" class="form-control" #number/>
    <label>Учреждение образования</label>
    <input [(ngModel)]="certificate.nameUO" name="nameUO" class="form-control" #nameUO/><br>
    <label>Оценки</label>
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Количество единиц</th>
        <th>Количество двоек</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input class="form-control" #one/></td>
        <td><input class="form-control" #two/></td>
      </tr>
      <tr class="thead-dark">
        <th>Количество троек</th>
        <th>Количество четвёрок</th>
      </tr>
      <tr>
        <td><input class="form-control" #three/></td>
        <td><input class="form-control" #four/></td>
      </tr>
      <tr class="thead-dark">
        <th>Количество пятёрок</th>
        <th>Количество шестёрок</th>
      </tr>
      <tr>
        <td><input class="form-control" #five/></td>
        <td><input class="form-control" #six/></td>
      </tr>
      <tr class="thead-dark">
        <th>Количество семёрок</th>
        <th>Количество восьмёрок</th>
      </tr>
      <tr>
        <td><input class="form-control" #seven/></td>
        <td><input class="form-control" #eight/></td>
      </tr>
      <tr class="thead-dark">
        <th>Количество девяток</th>
        <th>Количество десяток</th>
      </tr>
      <tr>
        <td><input class="form-control" #nine/></td>
        <td><input class="form-control" #ten/></td>
      </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="push()">Push</button>
  <button type="button" class="btn btn-default" (click)="_bsModalRef.hide()">Close</button>
</div>
