<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="_bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #addForm="ngForm" name="AddForm">
    <label>Тип документа</label>
    <select class="form-control" [(ngModel)]="certificate.educationDocumentTypeId" name="educationDocumentTypeId" #educationDocumentTypeId>
      <option *ngFor="let data of edDocTypes" [ngValue]="data.id">{{data.name}}</option>
    </select>
    <label [hidden]="educationDocumentTypeId.selectedIndex === 0
     || educationDocumentTypeId.selectedIndex === 1 || educationDocumentTypeId.selectedIndex === 2 || educationDocumentTypeId.selectedIndex === 3">Предмет</label>
    <select class="form-control" [(ngModel)]="certificate.subjectId" name="subjectId" #subjectId [hidden]="educationDocumentTypeId.selectedIndex === 0
     || educationDocumentTypeId.selectedIndex === 1 || educationDocumentTypeId.selectedIndex === 2 || educationDocumentTypeId.selectedIndex === 3">
      <option *ngFor="let data of subjects" [ngValue]="data.id">{{data.name}}</option>
    </select>
    <label [hidden]="educationDocumentTypeId.selectedIndex === 4">Серия документа</label>
    <input [(ngModel)]="certificate.seria" name="seria" class="form-control" #seria [hidden]="educationDocumentTypeId.selectedIndex === 4"/>
    <label [hidden]="educationDocumentTypeId.selectedIndex === 4">Номер документа</label>
    <input [(ngModel)]="certificate.number" name="number" class="form-control" #number [hidden]="educationDocumentTypeId.selectedIndex === 4"/>
    <label [hidden]="educationDocumentTypeId.selectedIndex === 4">Учреждение образования</label>
    <input [(ngModel)]="certificate.nameUO" name="nameUO" class="form-control" #nameUO [hidden]="educationDocumentTypeId.selectedIndex === 4"/><br>
    <label [hidden]="educationDocumentTypeId.selectedIndex === 4">Оценки</label>
    <label [hidden]="educationDocumentTypeId.selectedIndex !== 4">Оценка</label>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th [hidden]="educationDocumentTypeId.selectedIndex === 4">Количество единиц</th>
          <th [hidden]="educationDocumentTypeId.selectedIndex === 4">Количество двоек</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" #one/></td>
          <td><input class="form-control" #two [hidden]="educationDocumentTypeId.selectedIndex === 4"/></td>
        </tr>
        <tr class="thead-dark" [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <th>Количество троек</th>
          <th>Количество четвёрок</th>
        </tr>
        <tr [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <td><input class="form-control" #three/></td>
          <td><input class="form-control" #four/></td>
        </tr>
        <tr class="thead-dark" [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <th>Количество пятёрок</th>
          <th>Количество шестёрок</th>
        </tr>
        <tr [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <td><input class="form-control" #five/></td>
          <td><input class="form-control" #six/></td>
        </tr>
        <tr class="thead-dark" [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <th>Количество семёрок</th>
          <th>Количество восьмёрок</th>
        </tr>
        <tr [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <td><input class="form-control" #seven/></td>
          <td><input class="form-control" #eight/></td>
        </tr>
        <tr class="thead-dark" [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <th>Количество девяток</th>
          <th>Количество десяток</th>
        </tr>
        <tr [hidden]="educationDocumentTypeId.selectedIndex === 4">
          <td><input class="form-control" #nine/></td>
          <td><input class="form-control" #ten/></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" (click)="push()">Push</button>
  <button type="button" class="btn btn-default" (click)="_bsModalRef.hide()">Close</button>
</div>
